@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* Golden Ratio 1.618 2.618 4.236 6.854 11.089 17.942 */
body {
    background-color: #EEEEE7;
    font-family: "Inter", sans-serif;
    font-size: 11px;
    text-transform: lowercase;
}

nav {
    box-shadow: 0 2px 8px 0px #37323450;
    padding: 2.618em;
}

/* nav > * {
    flex: 1;
    flex-basis: 0;
} */

.cluster {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

/* .cluster > * {
    margin: 0.5rem;
} */

.nav-logo--menu {
    flex: 1;
    flex-basis: 0;
    justify-content: left;
}

.nav-items {
    align-items: center;
    justify-content: center;
}

.nav-icons {
    flex: 1;
    flex-basis: 0;
    text-align: right;
}

a {
    text-decoration: none;
}

.menu-btn {
    color: #373234;
    font-size: 1.618em;
    margin: 0 1em 0 1em;
}

h1#logo {
    font-weight: 900;
    font-size: 3em;
    color: #FF501E;
}

h1#logo em {
    font-weight: 300;
    font-style: normal;
    color: #373234;
}

h1 {
    font-size: 6.854em;
    font-weight: 900;
    color: #FF501E;
}

h3 {
    font-size: 1.618em;
    font-weight: 700;
    color: #373234;
}

.sidebar-container{
    /* width: 100%; */
    padding: 0 6.6em 0 6.6em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sidebar{
    flex-basis: 40rem;
    flex-grow: 1;
}

.not-sidebar{
    flex-basis: 0;
    flex-grow: 999;
    min-width: 50%;
}
                
.hero-cta {
  margin-top: auto;
  margin-bottom: auto;
  padding: 2em;
}

.hero-img {
  padding: 3em;
}

.hero-cta > * + * {
    margin-top: 1rem;
}






/* icons */
.lnr {
    color: #373234;
    font-size: 1.618rem;
    font-weight: 400;
    margin: 0.2em;
}

.lnr-phone {
    margin: 0 0.5em 0 1em;
}

.lnr-menu {
    margin: 0 1em 0 0.5em;
}
