@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* Golden Ratio 1.618 2.618 4.236 6.854 11.089 17.942 */

:root{
    --color-bg: #EEEEE7;
    --color-black: #373234;
    --color-primary: #FF501E;
    --color-secondary: #FFAF55;
    --color-80primary: #FF501ECC;
    --color-80secondary: #FFAF55CC;
}

body {
    background-color: #EEEEE7;
    font-family: "Inter", sans-serif;
    font-size: 11px;
    text-transform: lowercase;
}
/* NAVBAR */
nav {
    box-shadow: 0 2px 8px 0px #37323450;
    padding: 2.618em;
}

.cluster {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.nav-logo--menu {
    flex: 1;
    flex-basis: 0;
    justify-content: left;
}

.nav-items {
    align-items: center;
    justify-content: center;
}

.nav-icons {
    flex: 1;
    flex-basis: 0;
    text-align: right;
}

a {
    text-decoration: none;
}

.menu-btn {
    color: var(--color-black);
    font-size: 1.618em;
    margin: 0 1em 0 1em;
}

h1#logo {
    font-weight: 900;
    font-size: 3em;
    color: var(--color-primary);
}

h1#logo em {
    font-weight: 300;
    font-style: normal;
    color: var(--color-black);
}

/* END OF NAVBAR */

h1 {
    font-size: 6.854em;
    font-weight: 900;
    color: var(--color-primary);
}

h2 {
    font-size: 4.236em;
    font-weight: 900;
    color: var(--color-black);
}

h3 {
    font-size: 2em;
    font-weight: 700;
    color: var(--color-black);
}

.sidebar-container{
    padding: 2.618em 6.6em 0 6.6em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sidebar{
    flex-basis: 40rem;
    padding-right: 30rem;
    flex-grow: 1;
}

.not-sidebar{
    flex-basis: 0;
    flex-grow: 999;
    min-width: 40%;
}
                
.hero-cta {
  margin-top: auto;
  margin-bottom: auto;
  padding: 2em;
}

.hero-img {
  padding: 0 1.618em 0 0;
  height: 50em;
}

.sidebar-txt > * + * {
    margin-top: 1rem;
}

.sidebar-txt > h3 {
    line-height: 120%;
}

.sidebar-txt {
    max-width: 28rem;
}

.hero-btn {
    font-size: 2.618em;
    /* font-weight: 300; */
    padding: 1.618rem;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 88%;
}

.main-collection {
    padding: 4.618em 8.6em 2em 8.6em;
}

.main-collection > * + * {
    margin-top: 1rem;
}

.main-collection-img-container {
    justify-content: space-between;
    gap: 1.618em;
}

.main-collection-img {
    flex-grow: 1;
    flex-basis: 0;
}

.main-collection-txt {
    font-weight: 600;
}

.img-fit {
    object-fit: cover;
    border-radius: 8px;
}

.collection-preview {
    height: 30em;
}

.btn-cta {
    color: var(--color-black);
    background-color: white;
}

.btn-cta:hover {
    transition: all 0.25s ease-in-out;
    color: white;
    background-image: radial-gradient(farthest-side at 0% 0%, var(--color-80secondary) 0%, var(--color-80primary) 125%);
    /* background-color: var(--color-80primary); */
}

.btn-primary {
    background-image: radial-gradient(farthest-side at 0% 0%, var(--color-80secondary) 0%, var(--color-80primary) 125%);
}

.btn-secondary {
    background-image: radial-gradient(farthest-side at 0% 0%, F3F3F3 0%, E3E3E3 125%);
}

.stack{
    display: flex;
    flex-direction: column;
    gap: 1em;
}



/* icons */
.lnr {
    color: var(--color-black);
    font-size: 1.618rem;
    font-weight: 400;
    margin: 0.2em;
}

.lnr-phone {
    margin: 0 0.5em 0 0.5em;
}

.lnr-menu {
    margin: 0 1em 0 0.5em;
}
