@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* Golden Ratio 1.618 2.618 4.236 6.854 11.089 17.942 */

:root{
    --color-bg: #EEEEE7;
    --color-black: #373234;
    --color-primary: #FF501E;
    --color-secondary: #FFAF55;
    --color-80primary: #FF501ECC;
    --color-80secondary: #FFAF55CC;

    --text-reg: 11px;
    --text-med: ;
}

body {
    background-color: #EEEEE7;
    font-family: "Inter", sans-serif;
    font-size: 0.59vw;
    text-transform: lowercase;
    /* FIXED NAV */
    /* position: relative;
    top: 90px; */
}
/* NAVBAR */
nav {
    box-shadow: 0 2px 8px 0px #37323450;
    padding: 2.618em;
    /* FIXED NAV */
    /* position: fixed;
    top: 0;
    width: 97%;
    background-color: #EEEEE7; */
}

.cluster {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.nav-logo--menu {
    flex: 1;
    flex-basis: 0;
    justify-content: left;
}

.nav-items {
    align-items: center;
    justify-content: center;
}

.nav-icons {
    flex: 1;
    flex-basis: 0;
    text-align: right;
}

a {
    text-decoration: none;
}

.menu-btn {
    color: var(--color-black);
    font-size: 1.618em;
    margin: 0 1em 0 1em;
}

a.logo {
    font-weight: 900;
    font-size: 3em;
    color: var(--color-primary);
}

a.logo em {
    font-weight: 300;
    font-style: normal;
    color: var(--color-black);
}

/* END OF NAVBAR */

h1 {
    font-size: 6.854em;
    font-weight: 900;
    color: var(--color-black);
}

h2 {
    font-size: 4.236em;
    font-weight: 900;
    color: var(--color-black);
}

h3 {
    font-size: 2em;
    font-weight: 700;
    color: var(--color-black);
}

.hero.sidebar-container{
    padding: 2.618em 8.218em 0 6.6em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sidebar{
    flex-basis: 40rem;
    padding-right: 30rem;
    flex-grow: 1;
}

.not-sidebar{
    flex-basis: 0;
    flex-grow: 999;
    min-width: 40%;
}

/* START OF HERO */
.hero-title {
    color: var(--color-primary);
}

.hero-cta {
  margin-top: auto;
  margin-bottom: auto;
  padding: 2em;
}

.hero-img {
  /* padding: 0 1.618em 0 0; */
  max-width: 60vw;
  height: 50em;
  
}

.sidebar-txt > * + * {
    margin-top: 1rem;
}

.sidebar-txt > h3 {
    line-height: 120%;
}

.sidebar-txt {
    max-width: 28rem;
}

.hero-btn {
    font-size: 2.618em;
    /* font-weight: 300; */
    padding: 1.618rem;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 88%;
}

/* END OF HERO */
/* START OF MAIN COLLECTION */

.padding {
    padding: 4.618em 8.6em 2.618em 8.6em;
}

.padding > * + * {
    margin-top: 1rem;
}


/* .main-collection {
    padding: 4.618em 8.6em 2em 8.6em;
}

.main-collection > * + * {
    margin-top: 1rem;
} */

.main-collection-img-container {
    justify-content: space-between;
    gap: 1.618em;
    /* height: 30vh; */
}

.main-collection-img {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    height: 100%;
}

.collection-preview {
    max-height: 30vh;
    min-height: 30vh;
    /* max-width: 100%;
    min-height: 95%;
    min-width: 100%;
    max-height: 95%; */

}
.main-collection-txt {
    font-weight: 600;
}

.img-fit {
    object-fit: cover;
    width: 100%;
    border-radius: 8px;
}

/* .main-deals {
    padding: 4.618em 8.6em 2em 8.6em;
}

.main-deals > * + * {
    margin-top: 1rem;
} */

/* END OF MAIN COLLECTION */
/* START OF MAIN DEALS */

.main-deals {
    /* TEMP SCROLL */
    padding-right: 0;
}

.main-deals-card-container {
    justify-content: space-between;
    gap: 1.618em;
    display: flex;
    flex: 1;
        /* TEMP SCROLL */
        flex-wrap: nowrap;
        overflow: scroll;
        overflow-y: hidden;
    /* height: 30vh; */
}

.main-deals-card{
    background-image: radial-gradient(farthest-side at 0% 70%, var(--color-80secondary) 0%, var(--color-80primary) 125%);
    border-radius: 8px;
    flex-grow: 1;
    flex-basis: 0;
    min-height: 100%;
        /* TEMP SCROLL */
        min-width: 40%;
    flex-wrap: nowrap;
    flex-direction: row;
}

.deals-preview {
    max-height: 20vh;
    min-height: 20vh;
    /* max-width: 100%;
    min-height: 100%;
    min-width: 100%;
    max-height: 100%; */
}

.main-deals-txt {
    display: grid;
    grid-template-columns: auto auto;
    padding: 1em 1.618em 2.618em 1.618em;
}

.large-card-title {
    font-size: 2.618em;
}

.main-deals-txt > .price {
    color: white;
    text-align: right;
}

.main-deals-txt > h4 {
    font-size: 2em;
    margin-top: 0.25em;
}

.last-card {
    /* TEMP SCROLL */
    margin-right: 8.218em;
}

/* END OF MAINPAGE */
/* START OF COLLECTION */

.site-path {
    display: flex;
    flex-direction: row;
    padding: 4.618em 6.6em 2.618em 8.6em;
}

.site-path > * {
    color: var(--color-black);
    font-size: 1.618em;
}

.site-path > p {
    padding: 0 0.3em 0 0.3em;
}

.featured-products {
    padding-top: 0;
}

.featured-product-card-container {
    /* width: 100vw; */

}

.featured-product-card {
    background-image: radial-gradient(farthest-corner at 0% 20%, var(--color-80secondary) 0%, var(--color-80primary) 125%);
    border-radius: 8px;
    max-width: 80vw;
    height: 30em;
    display: grid;
    grid-template-columns: 30% 70%;
}

.featured-product-card-details {
    padding: 2em;
    position: relative;
}

.featured-product-img {
    height: 30em;
}

.featured-st-mortiz {
    object-position: 50% 80%;
}

.add-to-cart {
    background-color: var(--color-bg);
    width: min-content;
    display: flex;
    border-radius: 8px;
    position: absolute;
    bottom: 2em;
    right: 2em;
}

.cart-btn {
    font-size: 2.34rem !important;
}

.heart-toggle {
    position: absolute;
    top: 1em;
    right: 1em;
}

.filters {
    gap: 1.618em;
}

.filters > .btn {
    border-style: solid;
    border-width: 2px;
    border-color: var(--color-black);
    border-radius: 8px;
    padding: 1em;
    flex-grow: 1;
    flex-basis: 0;
}

.filters > .btn:hover {
    transition: all 0.5s ease-out;
    border-style: solid;
    border-width: 2px;
    border-color: var(--color-black);
    border-radius: 8px;
    background-color: #FFFFFF;
    padding: 1em;
    flex-grow: 1;
    flex-basis: 0;
}

.filters > .btn > .lnr {
    font-size: 4em;
    margin: 0em;
}

/* FOOTER */
footer{
    background-color: var(--color-black);
    height: 20vh;
}

.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 100%;
}

footer a.logo em {
    font-weight: 300;
    font-style: normal;
    color: var(--color-bg);
}

.footer > .content{
    margin-top: auto;
    margin-bottom: auto;
}

.footer > .content > .logo{
    font-size: 1.8em;
}

/* templates btn stack */
.btn-cta {
    color: var(--color-black);
    background-color: white;
}

.btn-cta:hover {
    transition: all 0.25s ease-in-out;
    color: white;
    background-image: radial-gradient(farthest-side at 0% 0%, var(--color-80secondary) 0%, var(--color-80primary) 125%);
    /* background-color: var(--color-80primary); */
}

.btn-primary {
    background-image: radial-gradient(farthest-side at 0% 0%, var(--color-80secondary) 0%, var(--color-80primary) 125%);
}

.btn-secondary {
    background-image: radial-gradient(farthest-side at 0% 0%, F3F3F3 0%, E3E3E3 125%);
}

.stack {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.centre {
    text-align: center;
    margin-left: auto;
    margin-right: auto 
}

/* icons */
.lnr {
    color: var(--color-black);
    font-size: 2.34em;
    font-weight: 400;
    margin: 0.2em;
}

.lnr-phone-handset {
    margin: 0 0.5em 0 0.6em;
}

.lnr-menu {
    margin: 0 1em 0 0.5em;
}

.lnr-heart {
    color: var(--color-black);
}
/* TEMP HEART TOGGLE*/
.heart-toggle:hover {
    color: grey;
}

.heart-toggle:focus {
    color: white;
}