@media screen and (max-width: 1140px) {
    h1 {
        font-size: 8rem;
    }

    h3 {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 760px) {
    h1 {
        font-size: 3.2rem;
    }

    h3 {
        font-size: 1rem;
    }
}