@media screen and (max-width: 1110px) {
    /* h1 {
        width: 63vw;
    } */

    .hero .lettermark {
        width: 50vw;
    }

    h3 {
        width: auto;
    }

    .work-cont h2 {
        padding-top: 1.6rem;
    }

    .hero .about {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        height: auto;
    }

    .hero .about img{
        grid-column: auto;
        grid-row: auto;
        aspect-ratio: 1 / 1;
        min-width: 100%;
        height: auto;
    }

    .hero .about p{
        grid-column: auto;
        grid-row: auto;
    }

    .hero.about .lettermark {
        display: none;
    }
    
    .hero.about .lnr-smile {
        display: none;
    }

    button:hover {
        border-color: var(--colour-accent);
        background-color: var(--colour-grey);
        color: var(--colour-accent);
        transform: scale(1);
    }

    footer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    footer h1 {
        width: 75vw;
    }

    footer ul {
        grid-row: 2 / 3;
    }
}

@media screen and (max-width: 850px) {
    footer {
        padding-top: 15vh;
    }
}

@media screen and (max-width: 660px) {
    h1, h2, h3, h4, p, a {
        line-height: 1.1;
    }

    h1 {
        font-size: 4rem;
        width: 360px;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.6rem;
        width: auto;
    }

    /* nav .lnr-smile  */
    #menu-smiley {
        display: block;
    }

    nav .nav-list {
        position: fixed;
        right: 0;
        left: auto;
        top: 0;
        padding: 5vw;
        transform: translateX(50vw);
        width: 40vw;
        height: 100vh;
        box-sizing: border-box;
        flex-direction: column;
        text-align: right;
        backdrop-filter: blur(4px);
        background-color: #181c2050;
        box-shadow: 10px 0px 8px 4px #e1e5e850;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        z-index: 6;
        /* display: none; */
    }    

    nav .nav-list li:nth-child(2) {
        padding-top: 1.6rem;
    }

    .nav-list .lnr-cross {
        visibility: visible;
        transition: all ease 0.3s;
    }

    /* .header-nav {
        display: none;
    } */

    /* .mobile-nav {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(-150vw);
    }

    .mobile-nav .mobile-popup {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: flex-end;
        width: fit-content;
        height: 100vh;
        padding: 5vw;
        background-color: var(--colour-bg);
    }

    .mobile-popup a {
        font-weight: 500;
        font-size: 1.6rem;
    }

    .mobile-popup li .lnr-cross {
        color: var(--colour-accent);
        font-size: 2.5rem;
        text-decoration: none;
    } */

    .hero {
        height: 80vh;
    }
    
    .hero h1 br:first-child {
        display: none;
    }

    .hero .lettermark {
        position: relative;
        /* bottom: 0; */
        top: -2vh;
        left: 0;
        width: 90vw;
    }

    .hero .lnr-smile {
        display: none;
    }

    .filters {
        overflow-x: scroll;
    }

    footer h1 {
        width: 85vw;
    }

    footer > h1 .lnr {
        margin-left: 1rem;
    }
}

/* SCROLLBAR */
@media screen and (min-width: 660px){
    ::-webkit-scrollbar {
        height: 14px;
        width: 14px;
    }
    
    /* ::-webkit-scrollbar-track {
        background-color: var(--color-bg);
    } */
    
    ::-webkit-scrollbar-thumb {
        background-color: var(--colour-light);
        box-shadow: inset 0px 0px 0px 3px var(--colour-bg);
        border-radius: 7px;
    }
}

/* HEIGHT */

@media screen and (max-height: 840px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.6rem;
    }
}

@media screen and (max-height: 560px) and (max-width: 660px) {
    h1 {
        width: auto;
    }
}

@media screen and (max-height: 550px) {
    footer {
        height: 125vh;
    }
    footer img {
        height: 4rem;
    }
}